
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Quản lý người dùng</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tên</th>
                        <th>Tên đăng nhập</th>
                        <th>Thao tác</th>
                        <th>Trạng thái</th>
                        <th>Thao tác</th>
                       
                    </tr>
                </thead>
                <tfoot>
                    
                   
                </tfoot>
                <tbody>
                   
                 
                    <tr>
                        <td>Nguyễn Văn Test</td>
                        <td>test</td>
                        <td>
                            
                        </td>
                        
                    </tr>
                 

                </tbody>
            </table>
        </div>
    </div>
</div>